{% extends "base.html" %}
{% block content %}
<section id="content" style="padding-top:0px">
<div class="container">
<div class="tab-container box">
      <ul class="tabs">
        <li><a href={% url 'client:enqtour' %} >Tours</a></li>
        <li><a href={% url 'client:enqhotel' %} >Hotels</a></li>
        <li><a href={% url 'client:enqtrain' %} >Trains</a></li>
        <li><a href={% url 'client:enqair' %} >Flights</a></li>
        <li><a href={% url 'client:enqbus' %} >Bus</a></li>
        <li class="active"><a href={% url 'client:enqvisa' %} >Passport & Visa</a></li>
        <li><a href={% url 'client:enqcar' %} >Rental Vehicles</a></li>
        <li><a href={% url 'client:enqinsrnce' %} >Travel Insurance</a></li>
      </ul>
        <div class="tab-pane fade in active">
                <div class="tab-container full-width-style white-bg">
                  <ul class="tabs">
                    <li><a href={% url 'client:enqvisa' %} ><i class="soap-icon-doc-plus circle"></i>New Enquiry</a></li>
                    <li><a href={% url 'client:enqvisalist' %} ><i class="soap-icon-doc-minus circle"></i>Pending Enquiries</a></li>
                    <li class="active"><a href={% url 'client:enqvisadone' %} ><i class="soap-icon-stories circle"></i>Finished Enquiries</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="first-tab">
                      <!--  Accordion -->
                      <div class="toggle-container box" id="accordion1">
                        {% for l in dlist %}
                          <div class="panel style2">
                            <h4 class="panel-title">
                              <a class="collapsed" href="#l{{ l.pk }}" data-toggle="collapse" data-parent="#accordion1"><h2><b>Service : </b>{{ l.service }}</h2> <p> <b>Completed : </b>{{ l.accptd }}</p></a>
                            </h4>
                            <div class="panel-collapse collapse" id="l{{ l.pk }}">
                              <div class="panel-content">
                                <h2> <b>Enquiry Information</b></h2><hr>
                                <h4> <b>Service :</b> {{ l.service }}</h4>
                                <h4> <b>Additional Information :</b> {{ l.additional_information }}</h4>
                                <h4> <b>Enquired on :</b> {{ l.created }}</h4><hr>
                                <h2> <b>Reply Information </b></h2><hr>
                                <h4> <b>Charges :</b> {{ l.charges }}</h4>
                                <h4> <b>Additional Information :</b> {{ l.additional_information_reply }}</h4>
                                <h4> <b>Replied on :</b> {{ l.replied }}</h4><hr>
                                <h2> <b>Agent Information </b></h2><hr>
                                <h4> <b>Name :</b> {{ l.agent.user.first_name }} {{ l.agent.user.last_name }}</h4>
                                <h4> <b>Contact Number :</b> {{ l.agent.user.phone }}</h4>
                                <h4> <b>Email :</b> {{ l.agent.user.user.email }}</h4>
                                <h4> <b>Company Name :</b> {{ l.agent.company_name }}</h4>
                                <h4> <b>Rated :</b> {% if l.agent.rating %} {{ l.agent.rating|floatformat:1 }} /5.0 stars <b> by </b> {{ l.agent.rated }} clients {% else %} Not Yet Rated !!{% endif %}</h4><hr>
                                {% if l.rating %}
                                <h4> <b>Agent Rated by Me:</b> {{ l.rating.stars|floatformat:1 }} stars</h4><hr>
                                {% else %}
                                <a href={% url 'client:visarate' arch=l.pk %}><button class="btn btn-warning" type="button" name="button">Rate This Agent</button> </a><hr>
                                {% endif %}
                            </div><!-- end content -->
                          </div>
                        </div>
                        {% empty %}
                        <h4>No Finished Enquiries</h4>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
