{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <section id="content" >
    <div class="container">
      <div class="block image-box style6">
                      <article class="box">
                          <figure class="col-md-5">
                              <a href="#" title="" class="middle-block"><img class="middle-item" src={% static "images/who-we-are.jpg" %} alt="" width="476" height="318" /></a>
                          </figure>
                          <div class="details col-md-offset-5">
                              <h4 class="box-title">Who We Are?</h4>
                              <p>GOODLUCK YATRA is a website portal own and maintain by *********** pvt ltd. This portal designed to work like a bridge between our customer and our partner. We have given complete satisfaction to our valued patrons since the inception of our company. We offer wide range of services such as Airline Ticketing Services, Railway Ticketing Services, Passport & Visa Services, Travel Insurance Services, Cruise Services, Bus Ticketing Services, Forex Exchange Services, Hotel Booking Services, Car & Coach Services and event management services. Our exemplary services give fun to your amazing trip and make them a rejuvenating experience for you.</p>
                          </div>
                      </article>
                      <article class="box">
                          <figure class="col-md-5 pull-right middle-block">
                              <a href="#" title=""><img class="middle-item" src={% static "images\what-we-do@2x.png" %} alt="" width="476" height="318" /></a>
                          </figure>
                          <div class="details col-md-7">
                              <h4 class="box-title">What We Do?</h4>
                              <p>GOODLUCK YATRA was incorporated in the year 2017 with complete focus on meeting client’s requirements by giving them reliable services. We have been able to meet our aim because of the superior advice of Mr. Vikash Kumar. His responsible attitude and effective working plans have made us to create our reputation as a reliable name in the tourism industry.Sastiyatra.in’S aim is to provide the value for its money both to its customer and partner, We give number of choices to our customer to choose from ,which led them to getting the pocket friendly deal by our partners and at the same time our partner get the queries from the customer.</p>
                          </div>
                      </article>
                      <article class="box">
                          <figure class="col-md-5">
                              <a href="#" title="" class="middle-block"><img class="middle-item" src={% static "images\how-we-work.jpg" %} alt="" /></a>
                          </figure>
                          <div class="details col-md-offset-5">
                              <h4 class="box-title">How Travelo Work?</h4>
                              <p>GOODLUCK YATRA give a detailed insight into the amazing diversity of Indian heritage, cultures, religions, palaces, spiritualism, adventure and nature. The palaces of Rajasthan, lush green back waters of Kerala, tranquil and mesmerising Goan beaches, Himalayan adventures, spiritual retreats and Honeymoon locales- our portfolio covers it all. GOODLUCK YATRA negotiates, organises and coordinates various events from promotional events, product launches to theme evenings and gala dinners. We have operated incentive programmes, exhibitions and conferences for corporates and multinationals. We efficiently manage all our clients' needs with dedication and commitment. It is our innovative approach and personalized service that has built enduring relationships with our countless loyal travellers.</p>
                          </div>
                      </article>
                  </div>
    </div>
  </section>
{% endblock %}
