{% extends "base.html" %}
{% block content %}
  <section id="content" >
    <div class="container">
      <h1>Benefits of Agents</h1>
      <div class="block clearfix">
                        <div class="col-md-4" style="padding-bottom:20px;">
                            <div class="icon-box style5">
                                <i class="soap-icon-phone"></i>
                                <div class="description">
                                    <h3>UNLIMITED QUERIES</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom:20px;">
                            <div class="icon-box style5">
                                <i class="soap-icon-message"></i>
                                <div class="description">
                                    <h3>SUPPORT SERVICES</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom:20px;">
                            <div class="icon-box style5">
                                <i class="soap-icon-address"></i>
                                <div class="description">
                                    <h3>UNLIMITED INCOME FROM OUR WEB PORTAL</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom:20px;">
                            <div class="icon-box style5">
                                <i class="soap-icon-phone"></i>
                                <div class="description">
                                    <h3>GENUINE QUERY</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom:20px;">
                            <div class="icon-box style5">
                                <i class="soap-icon-message"></i>
                                <div class="description">
                                    <h3>FREE ADVERTISEMENT IN OUR WEBSITES</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom:20px;">
                            <div class="icon-box style5">
                                <i class="soap-icon-address"></i>
                                <div class="description">
                                    <h3>ALL INDIA TRAVEL DATA IN YOUR WEB PANEL</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom:20px;">
                            <div class="icon-box style5">
                                <i class="soap-icon-phone"></i>
                                <div class="description">
                                    <h3>EVERYDAY EARN PAYTM CASH</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom:20px;">
                            <div class="icon-box style5">
                                <i class="soap-icon-message"></i>
                                <div class="description">
                                    <h5>EVERY WEAK EARN FREE ONE-WAY AIR TICKET/4000 CASH</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding-bottom:20px;">
                            <div class="icon-box style5">
                                <i class="soap-icon-address"></i>
                                <div class="description">
                                    <h5>EVERY MONTH CHANCE TO WIN DOMESTIC TOUR PACKAGES/8000 CASH</h5>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
  </section>
{% endblock %}
