{% extends "base.html" %}
{% block content %}
<section id="content" >
  <div class="container">
    <h1>Benefits of Clients</h1>
    <div class="block clearfix">
      <div class="col-md-4" style="padding-bottom:20px;">
          <div class="icon-box style5">
              <i class="soap-icon-phone"></i>
              <div class="description">
                  <h5>YOU WILL FIND OUR RATE UP TO 50% LESS THAN THE OTHER WEBSITES & TRAVEL AGENTS</h5>
              </div>
          </div>
      </div>
      <div class="col-md-4" style="padding-bottom:20px;">
          <div class="icon-box style5">
              <i class="soap-icon-message"></i>
              <div class="description">
                  <h3>24/7 SUPPORT SERVICES AND REPLY</h3>
              </div>
          </div>
      </div>
      <div class="col-md-4" style="padding-bottom:20px;">
          <div class="icon-box style5">
              <i class="soap-icon-address"></i>
              <div class="description">
                  <h5>Earn 50 reward points at the time of joining and 10 reward points by referring</h5>
              </div>
          </div>
      </div>
      <div class="col-md-4" style="padding-bottom:20px;">
          <div class="icon-box style5">
              <i class="soap-icon-phone"></i>
              <div class="description">
                  <h3>Chance to win daily PayTm cash</h3>
              </div>
          </div>
      </div>
      <div class="col-md-4" style="padding-bottom:20px;">
          <div class="icon-box style5">
              <i class="soap-icon-message"></i>
              <div class="description">
                  <h3>Every week chance to win air ticket /4000 cash</h3>
              </div>
          </div>
      </div>
      <div class="col-md-4" style="padding-bottom:20px;">
          <div class="icon-box style5">
              <i class="soap-icon-address"></i>
              <div class="description">
                  <h3>Every month chance to win domestic tour/8000 cash</h3>
              </div>
          </div>
      </div>
                  </div>
  </div>
</section>
{% endblock %}
