{% extends "base.html" %}
{% block content %}
<section id="content">
  <div class="container">
    <h1>OUR MEMBERSHIP PLANS</h1>
                    <div class="row block">
                        <div class="col-sm-4">
                            <div class="pricing-table white box">
                                <div class="header clearfix">
                                    <i class="soap-icon-user circle green-color"></i><h4 class="box-title"><span>STARTER PLAN<small>for Agents</small></span></h4>
                                    <span class="price"><small>1 MONTH VALIDITY</small> ₹ 590 </span>
                                </div>
                                <p class="description">
                                     Note – Get the membership for Free. Refer to 20 travel associates with your reference id and if they joined with your reference id then you will get back your money you have submitted at the time of registration.
                                </p>
                                <ul class="check-square features">
                                    <li>PRICE -₹ 590</li>
                                    <li>OFFER PRICE -₹ 300 </li>
                                    <li>1 MONTH VALIDITY</li>
                                    <li>UNLIMITED CUSTOMER QUERY</li>
                                </ul>
                                <button class="btn-medium uppercase full-width">select this plan</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="pricing-table white box">
                                <div class="header clearfix">
                                    <i class="soap-icon-friends circle yellow-color"></i><h4 class="box-title"><span>SILVER PLAN<small>for Agents</small></span></h4>
                                    <span class="price"><small>3 MONTH VALIDITY</small>₹ 1800</span>
                                </div>
                                <p class="description">
                                    Note – Get the membership for Free. Refer to 20 travel associates with your reference id and if they joined with your reference id then you will get back your money you have submitted at the time of registration.
                                </p>
                                <ul class="check-square features">
                                  <li>PRICE -₹ 1800</li>
                                  <li>OFFER PRICE -₹ 700 </li>
                                  <li>3 MONTH VALIDITY</li>
                                  <li>UNLIMITED CUSTOMER QUERY</li>
                                </ul>
                                <button class="btn-medium uppercase full-width yellow">select this plan</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="pricing-table white box">
                                <div class="header clearfix">
                                    <i class="soap-icon-suitcase circle blue-color"></i><h4 class="box-title"><span>GOLD PLAN<small>for Agents</small></span></h4>
                                    <span class="price"><small>6 MONTH VALIDITY</small>₹ 3800</span>
                                </div>
                                <p class="description">
                                    Note – Get the membership for Free. Refer to 20 travel associates with your reference id and if they joined with your reference id then you will get back your money you have submitted at the time of registration.
                                </p>
                                <ul class="check-square features">
                                  <li>PRICE -₹ 3800</li>
                                  <li>OFFER PRICE -₹ 1300 </li>
                                  <li>6 MONTH VALIDITY</li>
                                  <li>UNLIMITED CUSTOMER QUERY</li>
                                </ul>
                                <button class="btn-medium uppercase full-width sky-blue1">select this plan</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="pricing-table white box">
                                <div class="header clearfix">
                                    <i class="soap-icon-user circle green-color"></i><h4 class="box-title"><span>DIAMOND PLAN<small>for Agents</small></span></h4>
                                    <span class="price"><small>12 MONTH VALIDITY</small> ₹ 6500</span>
                                </div>
                                <p class="description">
                                    Note – Get the membership for Free. Refer to 20 travel associates with your reference id and if they joined with your reference id then you will get back your money you have submitted at the time of registration.
                                </p>
                                <ul class="check-square features">
                                  <li>PRICE - ₹ 6500</li>
                                  <li>OFFER PRICE -₹ 2350 </li>
                                  <li>12 MONTH VALIDITY</li>
                                  <li>UNLIMITED CUSTOMER QUERY</li>
                                </ul>
                                <button class="btn-medium uppercase full-width">select this plan</button>
                            </div>
                        </div>
                    </div>
  </div>
</section>
{% endblock %}
